@function rem($value) {
    @return ($value / 16) + rem;
}

@mixin reset{
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
    }
}