@import '_variables';
@import '_utils';

@include reset;

body{
    font-size: rem(18);
    font-family: 'Barlow';
    font-weight: 600;
}

header{
    position: absolute;
    padding: 1.5em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav__icon{
        height: 20px;
    }

    nav{
        display: none;
        font-size: .9rem;

        ul{
            display: flex;
            align-items: center;
            list-style: none;

            li, a{
                padding: 0 .5em;
                color: $white;
            }
        }
    }

    .contact__btn{
        display: none;
        background: $white;
        border-radius: 2em;
        padding: .5em 1em;
        text-transform: uppercase;

        a{
            color: black;
        }
    }

    h2{
        font-family: 'Barlow', sans-serif;
        font-weight: 900;
        color: $white;
    }

    @media screen and(min-width: 590px) {
        .nav__icon{
            display: none;
        }

        nav{
            display: flex;
        }

        .contact__btn{
            display: inline;
        }
    }

}

#hero{

    .hero__content{
        position: absolute;
        top: 50vw;
        width: 100%;
        text-align: center;

        h1{
            font-family: 'Fraunces', sans-serif;
            font-weight: 900;
            color: $white;
            font-size: 2.5rem;
            letter-spacing: 5px;
            text-transform: uppercase;

            margin-bottom: 1.5em;
            padding: 0 1em;
        }
    }

    .hero__background{
        position: relative;
        z-index: -1;
        display: block; // Display block to remove the magic gap

        width: 100%;
        height: 0;
        background: url('/public/images/mobile/image-header.jpg') no-repeat;
        background-size: contain;
        padding-top: 143.46%;  //(img-height / img-width * container-width)
    }

    @media screen and (min-width: 800px) {
        .hero__background{
            background: url('/public/images/desktop/image-header.jpg') no-repeat;
            background-size: contain;
            padding-top: 55.55%;  //(img-height / img-width * container-width)
        }

        .hero__content{
            top: 10em;
        }
    }
}

#about{
    
    img{
        width: 100%;
    }

    .about__wrapper{
        width: 100%;

        &__content{
            text-align: center;
            padding: 2em .8em;

            h2{
                font-family: 'Fraunces', sans-serif;
                color: $very-dark-desaturated-blue;
                font-weight: 900;
                font-size: 2rem;
            }

            p{
                margin: 2em 0;
                color: $grayish-blue;
                line-height: 30px;
            }

            a{
                font-family: 'Fraunces', sans-serif;
                font-weight: 900;
                color: $very-dark-desaturated-blue;
                text-transform: uppercase;

                .underline{
                    height: 10px;
                    width: 140px;
                    margin: -8px auto 0 auto;
                    border-radius: 1em;
                    opacity: 30%;

                }

                .yellow{
                    background: $yellow;
                }

                .red{
                    background: $soft-red;
                }

                &:hover{

                    .yellow, .red{
                        opacity: 100%;
                    }
                }
            }
        }
    }

    @media screen and (min-width: 800px) {

        .about__wrapper{
            display: flex;
            flex-direction: row-reverse;

            img{
                width: 50%;
            }

            &__content{
                padding: 10em;
                text-align: start;
                max-width: 50%;

                a .underline{
                    margin-left: -4px;
                }
            }
        }

        .about__wrapper:nth-child(2){
            flex-direction: row;
        }
    }
}

#services{

    overflow: hidden;

    .service__img{
        width: 100%;
        height: 0;
        background: url('/public/images/mobile/image-graphic-design.jpg') no-repeat;
        background-size: contain;
        padding-top: 160%;  //(img-height / img-width * container-width)

        &.photography{
            background: url('/public/images/mobile/image-photography.jpg') no-repeat;
            background-size: contain;
            padding-top: 160%;  //(img-height / img-width * container-width) 
        }
    }

    .service__content{
        text-align: center;
        padding: 2em .8em;
        margin-top: -270px;

        h2{
            font-family: 'Fraunces', sans-serif;
            font-weight: 900;
            color: $dark-desaturated-cyan;
        }
        
        P{
            color: $dark-desaturated-cyan;
            line-height: 25px;
            font-size: 1rem;
            margin-top: 1.4em;
        }
    }

    @media screen and (min-width: 800px) {
        display: flex;

        .service__wrapper{
            width: 50%;

            .service__img{
                background: url('/public/images/desktop/image-graphic-design.jpg') no-repeat;
                background-size: contain;
                padding-top: 83.33%;  //(img-height / img-width * container-width)

                &.photography{
                    background: url('/public/images/desktop/image-photography.jpg') no-repeat;
                    background-size: contain;
                    padding-top: 83.33%;  //(img-height / img-width * container-width) 
                }
            }

            .service__content{
                padding: 3em 11em;
            }
        }
        // -- CONTINUE -- change img tags to div in order to chage the src dynamicli.
    }

}

#testimonials{
    text-align: center;
    padding: 3em 1em;

    h3{
        font-family: 'Fraunces', sans-serif;
        font-size: 1rem;
        font-weight: 900;
        color: $grayish-blue;
        text-transform: uppercase;
        letter-spacing: 3px;
    }

    .testimonials__wrapper{

        &__review{
            margin: 3em 0;

            img{
                border-radius: 50%;
                width: 30%;
                margin-top: 1.5em;
            }

            &__content{
                margin: 2em 0;
                color: $very-dark-grayish-blue;
                line-height: 30px;
            }

            &__name{
                font-family: 'Fraunces', sans-serif;
                font-weight: 900;
                font-size: 1.2rem;
                color: $very-dark-desaturated-blue;
                margin-bottom: 1rem;
            }
            &__title{
                color: $grayish-blue;
                font-size: 1rem;
            }
        }
    }

    @media screen and (min-width: 800px){

        h3{
            margin: 4em 0;
        }

        .testimonials__wrapper{
            display: flex;
            align-items: center;
            margin-bottom: 2em;

            &__review{
                padding: 0 3.5em;

                img{
                    margin-top: 0;
                    width: 90px;
                }
            }
        }
    }
}

.bottom__images{
    display: flex;
    flex-wrap: wrap;

    img{
        width: 50%;
    }

    @media screen and (min-width: 800px){
        display: flex;
        img{
            width: 25%;
        }
    }
}

footer{

    background: $desaturated-green; 
    padding: 3em 1em;

    h2{
        font-weight: 900;
        color: $dark-moderate-cyan;
        text-align: center;
        font-size: 2rem;
    }

    ul{
        list-style: none;
        display: flex;
        justify-content: space-around;
        margin-top: 2em;
        
        li a{
            color: $dark-moderate-cyan;

            &:hover{
                color: $dark-desaturated-cyan;
            }
        }
    }

    .social__icons{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 40%;
        margin: 3em auto;
    }

    @media screen and (min-width: 800px){
        .social__icons{
            width: 15%;
        }

        ul{
            width: 25%;
            margin: 2em auto 1em auto;
        }
    }

}